*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: $--color-light--2;
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  position: relative;
  background-color: #fff;
  // padding: 2.5rem;
  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: $--color-brand--1;
}
