// @import 'abstracts/functions';
// @import 'abstracts/mixins';
@import 'abstracts/variables';

// @import 'base/base';
// @import 'base/typography';
// @import 'base/utilities';
@import 'components/hamburger';
@import 'components/button';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: $--color-light--2;
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  position: relative;
  background-color: #fff;
  // padding: 2.5rem;
  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: $--color-brand--1;
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: $--color-dark--1;
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sort__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;

  &--state {
    font-weight: 700;
    font-size: 2rem;
  }
  &--number {
    font-weight: 300;
    font-size: 1rem;
  }
  &--options {
    position: relative;
    display: flex;

    & .sort__options {
      width: 70%;
      list-style: none;
      display: flex;
      justify-content: space-between;
    }
  }
  &__reset--button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 1rem;
}

.workouts {
  position: relative;
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
}

.workouts::-webkit-scrollbar {
  width: 0;
}
#workout__container {
  position: relative;
  overflow: visible;
}
.workout {
  background-color: $--color-dark--2;
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  position: relative;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  gap: 0.75rem 1.5rem;
  // justify-content: space-between;
  transition: all 0.5s;

  &--running {
    border-left: 5px solid $--color-brand--2;
  }
  &--cycling {
    border-left: 5px solid $--color-brand--1;
  }
  &__data {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
  }
  &__title {
    font-size: 1.7rem;
    font-weight: 600;
    grid-column: 1/4;
    cursor: pointer;
    &:hover {
      color: $--color-brand--1;
      .workout__favorite span {
        color: $--color-brand--1;
      }
    }
    &.bookmark {
      color: $--color-brand--1;
      & .workout__favorite span {
        color: $--color-brand--1;
      }
    }
  }
  &__favorite {
    position: relative;
    display: inline-block;
    background-color: $--color-light--2;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
    transform: translateY(0.5rem);
    box-shadow: 0 1rem 3rem 3rem rgba(#000, 0.1);
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      color: $--color-dark--2;
      cursor: pointer;

      &:hover {
        color: $--color-brand--1;
      }
    }
  }
  &__icon--expand {
    display: block;
    grid-column: 4/-1;
    grid-row: 1/2;
    justify-self: end;
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
    cursor: pointer;
    position: relative;
    &:hover {
      fill: $--color-light--2;
      background-color: $--color-dark--1;
      border-radius: 50%;
      box-shadow: 0 1rem 3rem 2rem rgba(#000, 0.1);
    }
  }
  &__address {
    display: flex;
    align-items: center;
    justify-self: center;
    &--details {
      display: flex;
      flex-direction: column;
    }
  }
  &__details {
    display: flex;
    align-items: baseline;
    &.align--center {
      align-items: center;
      justify-self: center;
    }
  }
  &__in {
    font-size: 1rem;
  }
  &__street {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  .weather__icon {
    img {
      display: inline-block;
      max-height: 2rem;
      width: 3rem;
      height: auto;
      object-fit: cover;
      margin-right: 0.8rem;
    }
  }
  &__timer {
    margin-left: 2rem;
    svg {
      width: 2rem;
      height: 2rem;
      fill: $--color-light--1;
      margin-right: 0.8rem;
    }
  }
  &__icon {
    font-size: 1.8rem;
    margin-right: 0.2rem;
    height: 0.28rem;
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    img {
      width: 2.5rem;
      height: 2.5rem;
      align-self: center;
      margin-right: 0.5rem;
    }
  }

  &__value {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  &__unit {
    font-size: 1.1rem;
    color: $--color-light--1;
    text-transform: uppercase;
    font-weight: 800;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.4rem 2rem rgba(#000, 0.2);
    background-color: $--color-light--2;
    color: $--color-dark--1;
  }
  &.editing {
    transform: translateY(-3px);
    box-shadow: 0 0.4rem 2rem rgba(#000, 0.2);
    background-color: $--color-light--2;
    color: $--color-dark--1;
  }
}

.dropdown {
  grid-column: 4/-1;
  grid-row: 1/2;
  background-color: $--color-dark--2;
  height: auto;
  width: 10rem;
  border-radius: 2px;
  box-shadow: 0 1rem 1rem 0 rgba(39, 39, 39, 1);
  display: flex;
  flex-direction: column;
  align-items: start;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transition: all 0.25s;

  &__items {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 0.5rem;
    &:hover #icon_item,
    &:hover .dropdown__icon-name,
    &:hover {
      fill: $--color-brand--2;
      color: #00c46a;
    }
  }
  &__icon {
    width: 2rem !important;
    height: 2rem !important;
    opacity: 0.5;
    fill: $--color-light--1;
  }

  &__icon-name {
    font-weight: 600;
    font-size: 1rem;
    color: $--color-light--2;
    margin-left: 0.8rem;
  }
  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
}
.form {
  background-color: $--color-dark--2;
  border-radius: 5px;
  padding: 1.5rem 2.75rem 1rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr minmax(0, 1fr);
  grid-template-rows: 1fr 1fr 1fr;

  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  transition: all 0.5s, transform 1ms;

  &.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__row--hidden {
    display: none;
  }

  &__label {
    flex: 0 0 50%;
    font-size: 1.5rem;
    font-weight: 600;
    &--route {
      flex: 0 0 30%;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  &__input {
    width: 100%;
    padding: 0.3rem 1.1rem;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    background-color: $--color-light--3;
    transition: all 0.2s;
    &--route {
      font-size: 1rem;
      width: 100%;
      padding: 0.3rem 1.1rem;
      font-family: inherit;
      border: none;
      border-radius: 3px;
      background-color: $--color-light--3;
      transition: all 0.2s;
      &.end {
        outline: none;
        background-color: #fff;
      }
    }
    &--distance {
      outline: none;
      background-color: #fff;
    }
  }

  &__input:focus {
    outline: none;
    background-color: #fff;
  }

  &__btn {
    display: none;
  }

  .error__message {
    display: none;
    transition: all 0.5s;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 700;
    margin-left: 1.5rem;
    word-spacing: 0.1rem;
    &--duration {
      grid-column: 1/2;
      grid-row: 4/5;
    }
    &--cad_ele {
      grid-column: 2/3;
      grid-row: 4/5;
    }
    &--duration.error {
      color: $--color-brand--1;
      display: block;
    }
    &--cad_ele.error {
      color: $--color-brand--1;
      display: block;
    }
  }
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: $--color-light--1;
}

.twitter-link:link,
.twitter-link:visited {
  color: $--color-light--1;
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: $--color-light--2;
}
/* MAP */
#map {
  flex: 1;
  height: 100vh;
  background-color: $--color-light--2;
  position: relative;
}

/* Popup width is defined in JS using options */
.leaflet-popup {
  &-content-wrapper {
    background-color: $--color-dark--1;
    color: $--color-light--2;
    border-radius: 5px;
    padding-right: 0.6rem;
  }

  &-content {
    font-size: 1.5rem;
  }

  &-tip {
    background-color: $--color-dark--1;
  }
}
.startIcon {
  &--in {
    position: relative;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #00c46a;
    border-radius: 50%;
    border: solid 0.2rem #fff;
    padding: 0.8rem;

    &::before {
      padding: 1.5rem;
      background-color: #ff9c08ad;
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      border-radius: 50%;
      z-index: -1;
      animation: InfiniteScale 1s linear infinite;
      transform-origin: center;
    }
  }
}
.myIcon {
  width: 4rem;
  height: 4rem;
  background-image: url(../img/icon.png);
  background-size: 100%;
  cursor: pointer;
}
.startMarker {
  width: 4rem;
  height: 4rem;
  background-image: url(../img/startMarker.png);
  background-size: 100%;
  cursor: pointer;
}
@keyframes InfiniteScale {
  0% {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0.1);
  }

  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(3);
  }
}
.spinner {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;

  &__Icon {
    width: 8rem;
    height: 8rem;
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  &__text {
    transform: translateX(-25%);
    margin-top: 1rem;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 600;
    color: $--color-brand--1;
    backface-visibility: hidden;
    display: block;
  }
}
.spinner.hidden {
  display: none;
}

/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
} /* all other browsers */
@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(255, 0, 0, 0.349);
  transition: all 0.5s;
}

.overlay.hidden {
  display: none;
}
.icon-spinner8 {
  display: block;
  margin: 2rem auto;
  height: 3rem;
  width: 3rem;
  fill: $--color-brand--2;
  transition: all 0.5s;
  animation: rotate 2s infinite linear;
}
.icon-spinner8.hidden {
  display: none;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
.error {
  &__window {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 1rem;
    width: 40rem;
    height: 30rem;
    z-index: 999999999;
    color: #ff3c0bc0;
    box-shadow: 0 1rem 2rem rgba(#000, 0.2);
  }
  &__text {
    font-weight: 700;
    color: $--color-dark--1;
    margin-top: 0 !important;
    max-width: 36rem;

    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  &__heading {
    margin-top: 0;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  &__btn {
    margin-top: 2rem;
    &:hover {
      cursor: pointer;
    }
  }
}
.error__window.hidden {
  display: none;
}
#icon-cross {
  fill: #ff3c0bc0;
  width: 5rem !important;
  height: 5rem !important;
}
.mapboxgl-popup-close-button {
  display: none;
}
.mapboxgl-popup-content-wrapper {
  height: auto;
  max-width: 30rem;
}
.mapboxgl-popup-content {
  padding: 0 0 0 !important;
  border: none !important;
  background-color: $--color-dark--2 !important;
}
.mapboxgl-popup-content .cycling-popup {
  font: 500 1rem/1.5rem 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  border-left: 5px solid $--color-brand--1;
  padding: 1rem 1rem;
  background-color: $--color-dark--2;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  color: $--color-light--2;
}
.mapboxgl-popup-content .running-popup {
  font: 500 1rem/1.5rem 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  width: auto;
  color: $--color-light--2;
  border-left: 5px solid $--color-brand--2;
  padding: 1rem 1rem;
  background-color: $--color-dark--2;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mapboxgl-popup-content .running-popup > *:not(:first-child) {
  margin-top: 0.5rem;
}
.mapboxgl-popup-content .cycling-popup > *:not(:first-child) {
  margin-top: 0.5rem;
}
.mapboxgl-popup-tip {
  border-top-color: $--color-dark--2 !important;
}
