// @import 'abstracts/functions';
// @import 'abstracts/mixins';
@import 'abstracts/variables';

// @import 'base/base';
// @import 'base/typography';
// @import 'base/utilities';
@import 'components/hamburger';
@import 'components/button';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: $--color-light--2;
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  position: relative;
  background-color: #fff;
  // padding: 2.5rem;
  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: $--color-brand--1;
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: $--color-dark--1;
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sort__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;

  &--state {
    font-weight: 700;
    font-size: 2rem;
  }
  &--number {
    font-weight: 300;
    font-size: 1rem;
  }
  &--options {
    position: relative;
    display: flex;

    & .sort__options {
      width: 60%;
      list-style: none;
      display: flex;
      justify-content: space-between;
    }
  }
  &__reset--button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 1rem;
}

.workouts {
  position: relative;
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 0;
}
#workout__container {
  position: relative;
  overflow: visible;
}
.workout {
  background-color: $--color-dark--2;
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  position: relative;
  cursor: grab;
  display: grid;
  grid-template-columns: auto auto 1fr 1fr;
  gap: 0.75rem 1.5rem;
  justify-content: space-between;
  // overflow: auto;

  &--running {
    border-left: 5px solid $--color-brand--2;
  }
  &--cycling {
    border-left: 5px solid $--color-brand--1;
  }

  &__title {
    font-size: 1.7rem;
    font-weight: 600;
    grid-column: 1 / 4;
  }
  &__icon--expand {
    display: block;
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: end;
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
    cursor: pointer;
    position: relative;
    &:hover {
      fill: $--color-light--2;
      background-color: $--color-dark--1;
      border-radius: 50%;
      box-shadow: 0 1rem 3rem 2rem rgba(#000, 0.1);
    }
  }

  &__details {
    display: flex;
    align-items: baseline;
  }

  &__icon {
    font-size: 1.8rem;
    margin-right: 0.2rem;
    height: 0.28rem;
    grid-column: 1/2;
  }

  &__value {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  &__unit {
    font-size: 1.1rem;
    color: $--color-light--1;
    text-transform: uppercase;
    font-weight: 800;
  }
}

.dropdown {
  background-color: $--color-dark--2;
  height: auto;
  width: 10rem;
  border-radius: 2px;
  box-shadow: 0 1rem 2rem 0 rgba(39, 39, 39, 1);
  display: flex;
  flex-direction: column;
  align-items: start;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  backface-visibility: hidden;
  // opacity: 1;
  &__items {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 0.5rem;
    &:hover #icon_item,
    &:hover {
      fill: $--color-brand--2;
      color: #00c46a;
    }
  }
  &__icon {
    width: 2rem !important;
    height: 2rem !important;
    opacity: 0.5;
    fill: $--color-light--1;
  }

  &__icon-name {
    margin-left: 0.8rem;
  }
  &.hidden {
    display: none;
  }
}
.form {
  background-color: $--color-dark--2;
  border-radius: 5px;
  padding: 1.5rem 2.75rem 1rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr minmax(0, 1fr);
  grid-template-rows: 1fr 1fr 1fr;

  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  transition: all 0.5s, transform 1ms;

  &.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__row--hidden {
    display: none;
  }

  &__label {
    flex: 0 0 50%;
    font-size: 1.5rem;
    font-weight: 600;
    &--route {
      flex: 0 0 30%;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  &__input {
    width: 100%;
    padding: 0.3rem 1.1rem;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    background-color: $--color-light--3;
    transition: all 0.2s;
    &--route {
      font-size: 1rem;
      width: 100%;
      padding: 0.3rem 1.1rem;
      font-family: inherit;
      border: none;
      border-radius: 3px;
      background-color: $--color-light--3;
      transition: all 0.2s;
      &.end {
        outline: none;
        background-color: #fff;
      }
    }
    &--distance {
      outline: none;
      background-color: #fff;
    }
  }

  &__input:focus {
    outline: none;
    background-color: #fff;
  }

  &__btn {
    display: none;
  }

  .error__message {
    display: none;
    transition: all 0.5s;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 700;
    margin-left: 1.5rem;
    word-spacing: 0.1rem;
    &--duration {
      grid-column: 1/2;
      grid-row: 4/5;
    }
    &--cad_ele {
      grid-column: 2/3;
      grid-row: 4/5;
    }
    &--duration.error {
      color: $--color-brand--1;
      display: block;
    }
    &--cad_ele.error {
      color: $--color-brand--1;
      display: block;
    }
  }
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: $--color-light--1;
}

.twitter-link:link,
.twitter-link:visited {
  color: $--color-light--1;
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: $--color-light--2;
}
/* MAP */
#map {
  flex: 1;
  height: 100vh;
  background-color: $--color-light--1;
}

/* Popup width is defined in JS using options */
.leaflet-popup {
  &-content-wrapper {
    background-color: $--color-dark--1;
    color: $--color-light--2;
    border-radius: 5px;
    padding-right: 0.6rem;
  }

  &-content {
    font-size: 1.5rem;
  }

  &-tip {
    background-color: $--color-dark--1;
  }
}
.startIcon {
  &--in {
    position: relative;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #00c46a;
    border-radius: 50%;
    border: solid 0.2rem #fff;
    padding: 0.8rem;

    &::before {
      padding: 1.5rem;
      background-color: #ff9c08ad;
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      border-radius: 50%;
      z-index: -1;
      animation: InfiniteScale 1s linear infinite;
      transform-origin: center;
    }
  }
}
.myIcon {
  width: 4rem;
  height: 4rem;
  background-image: url(../img/icon.png);
  background-size: 100%;
}
@keyframes InfiniteScale {
  0% {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0.1);
  }

  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(3);
  }
}
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(255, 0, 0, 0.349);
  transition: all 0.5s;
}

.overlay.hidden {
  display: none;
}
.error {
  &__window {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 1rem;
    width: 40rem;
    height: 30rem;
    z-index: 99999999;
    color: #ff3c0bc0;
    box-shadow: 0 1rem 2rem rgba(#000, 0.2);
  }
  &__text {
    font-weight: 700;
    color: $--color-dark--1;
    margin-top: 0 !important;
    max-width: 36rem;

    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  &__heading {
    margin-top: 0;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  &__btn {
    margin-top: 2rem;
  }
}
.error__window.hidden {
  display: none;
}
#icon-cross {
  fill: #ff3c0bc0;
  width: 5rem !important;
  height: 5rem !important;
}
.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid $--color-brand--2;
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid $--color-brand--1;
}
