.form {
  background-color: $--color-dark--2;
  border-radius: 5px;
  padding: 1.5rem 2.75rem 1rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr minmax(0, 1fr);
  grid-template-rows: 1fr 1fr 1fr;

  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  transition: all 0.5s, transform 1ms;

  &.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__row--hidden {
    display: none;
  }

  &__label {
    flex: 0 0 50%;
    font-size: 1.5rem;
    font-weight: 600;
    &--route {
      flex: 0 0 30%;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  &__input {
    width: 100%;
    padding: 0.3rem 1.1rem;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    background-color: $--color-light--3;
    transition: all 0.2s;
    &--route {
      font-size: 1rem;
      width: 100%;
      padding: 0.3rem 1.1rem;
      font-family: inherit;
      border: none;
      border-radius: 3px;
      background-color: $--color-light--3;
      transition: all 0.2s;
      &.end {
        outline: none;
        background-color: #fff;
      }
    }
    &--distance {
      outline: none;
      background-color: #fff;
    }
  }

  &__input:focus {
    outline: none;
    background-color: #fff;
  }

  &__btn {
    display: none;
  }

  .error__message {
    display: none;
    transition: all 0.5s;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 700;
    justify-content: flex-end;
    align-items: center;
    right: 0;
    width: auto;
    word-spacing: 0.1rem;
    &--duration {
      grid-column: 1/2;
      grid-row: 4/5;
    }
    &--cad_ele {
      grid-column: 2/3;
      grid-row: 4/5;
    }
    &--duration.error {
      color: $--color-brand--1;
      display: block;
    }
    &--cad_ele.error {
      color: $--color-brand--1;
      display: block;
    }
  }
}
