.sort__hamburger {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -0.5rem;

  // &.hidden{
  //   transform: translateY(-30rem);
  //   height: 0;
  //   padding: 0 2.25rem;
  //   margin-bottom: 0;
  //   opacity: 0;
  // }
  &--checkbox {
    display: none;
  }
  &--button {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2000;
  }
  &--background {
    background-color: $--color-dark--2;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding-top: 0.5rem;
    height: 1rem;
    width: 1rem;
    opacity: 0;
    cursor: pointer;
    box-shadow: 0 2rem 2rem 0 rgba(39, 39, 39, 1);
    z-index: 1000;
    transition: all 0.25s;
    backface-visibility: hidden;
  }
  &--nav {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 0;
    align-items: start;
    opacity: 0;
    transition: all 0.25s;
    visibility: hidden;
    z-index: 1500;
  }
  &--list {
    position: absolute;
    list-style: none;
    left: 25%;
    font-size: 1rem;
    flex-direction: column;
    align-items: flex-end;
    //using javascript add this element,when invisble
  }
  .sort__section--item {
    margin-top: 0.5rem;
  }
  &--checkbox:checked ~ &--background {
    transform-origin: top left;
    transform: scale(10);
    opacity: 1;
  }

  &--checkbox:checked ~ &--nav {
    width: 10rem;
    visibility: visible;
    opacity: 1;
  }

  &--icon {
    position: absolute;
    margin-top: 1.25rem;
    top: 0;
    left: 0.25rem;

    &,
    &::before,
    &::after {
      width: 2rem;
      height: 2px;
      border-radius: 10rem;
      background-color: #fff;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.5rem;
    }
    &::after {
      top: 0.5rem;
    }
  }
  &--button:hover &--icon {
    background-color: $--color-brand--2;
  }
  &--button:hover &--icon::before {
    top: -0.7rem;
    background-color: $--color-brand--2;
  }

  &--button:hover &--icon::after {
    top: 0.7rem;
    background-color: $--color-brand--2;
  }

  &--checkbox:checked + &--button &--icon {
    background-color: transparent;
  }

  &--checkbox:checked + &--button &--icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &--checkbox:checked + &--button &--icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
