.sort__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;

  &--state {
    font-weight: 700;
    font-size: 2rem;
  }
  &--number {
    font-weight: 300;
    font-size: 1.5rem;
    & .workout__number {
      font-size: 2rem;
      color: $--color-brand--1;
    }
  }
  &--options {
    position: relative;
    display: flex;

    & .sort__options {
      width: 70%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      & a {
        &,
        &:link,
        &:visited {
          text-transform: uppercase;
          text-decoration: none;
          transition: all 0.2s;
          position: relative;
          //Change for the <button> element
          color: $--color-light--1;
          border: none;
          cursor: pointer;
          backface-visibility: hidden;
        }
        &:hover {
          color: #fff;
          &::after {
            content: '';
            display: inline-block;
            height: 0.15rem;
            width: 100%;
            border-radius: 10rem;
            position: absolute;
            top: 100%;
            right: 0;
            transition: all 0.4s;
            background-color: $--color-brand--2;
          }
        }
        &.selected {
          color: #fff;
          &::after {
            content: '';
            display: inline-block;
            height: 0.15rem;
            width: 100%;
            border-radius: 10rem;
            position: absolute;
            top: 100%;
            right: 0;
            transition: all 0.4s;
            background-color: $--color-brand--2;
          }
        }
      }
    }
  }
  &__reset--button {
    position: absolute;
    top: 0;
    right: 0;
    & a {
      &,
      &:link,
      &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 0.5rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        //Change for the <button> element
        font-weight: 700;
        font-size: 1.25rem;
        color: $--color-dark--1;
        background-color: $--color-brand--1;
        border: none;
        cursor: pointer;
      }
      &:hover {
        color: #fff;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(#000, 0.2);
      }
      &:active {
        outline: none;
        box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
        transform: translateY(0px);
      }
    }
  }
}
